
<!--
/**
 * Created by PhpStorm.
 * User: sumo stephane
 * Date: 13/10/2018
 * Time: 15:03
 */
-->
<header>        
    <img src="assets\agence.jpg" />
  
    <ul class="nav nav-tabs bg-dark">
      <li class="nav-item">
        <a class="nav-link disabled">SSA</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/projects']" class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/clients']" class="nav-link" href="#">Clients</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/salaries']" class="nav-link" href="#">Salariés</a>
      </li>
    </ul>
  </header>
  