<h1>Liste des utilisateurs</h1>

<div class="counter" *ngIf="users">
    <p>{{users.length}} clients</p>
</div>

<div class="mt-5 mb-5">
    <a routerLink='/create' class="btn btn-info">ajouter un utilisateur</a>
</div>

<table class="table">

    <tr>
        <td>id</td>
        <td>name</td>
        <td>username</td>
        <td>website</td>
        <td></td>
    </tr>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.website}}</td>
            <td>
                <a routerLink="/user/{{user._id}}" class="btn btn-primary">voir profil</a>
                <a routerLink="/update/{{user._id}}" class="btn btn-secondary">modifier profil</a>
                <button type="button" name="button" class="btn btn-danger" (click)="deleteUser(user._id)">Supprimer</button>
            </td>
        </tr>
    </tbody>

</table>
