
<div class="salarie-details" *ngIf="salarie">

    <h4 class="mb-5">Profil de {{salarie.title}}</h4>

        <div class="row">

            <div class="col-xs-12 col-md-2">
                <strong>Name</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{salarie.name|uppercase}}
            </div>
            <div class="col-xs-12 col-md-2">
                <strong>Username</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{salarie.username}}
            </div>
            <div class="col-xs-12 col-md-2">
                <strong>Address</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{salarie.address}}
            </div>

        </div>
        
        <div class="mt-5">
            <a routerLink="/update/{{salarie._id}}" class="btn btn-primary">Modifier ce salarié</a>
            <button type="button" name="button" class="btn btn-danger" (click)="deleteSalarie(salarie.id)">Supprimer ce salarié</button>
        </div>

</div>
