<!-- formulaire pour update -->
<form *ngIf="client">

  <div class="row">

    <div class="col">
        <div class="form-group">
            <label>Nom</label>
            <!-- ici, pour récupérer la valeur du nom dans le formaulaire, on utiliser [value], pour récupérer la modification, on utilise (onchange) -->
            <input type="text" class="form-control" placeholder="First name" [value]="client.name" (change)="formUpdate.name = $event.target.value">
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control" placeholder="First name" [value]="client.address" (change)="formUpdate.address = $event.target.value">
        </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
        <div class="form-group">
            <label>contact</label>
            <input type="text" class="form-control" placeholder="First name" [value]="client.contact" (change)="formUpdate.contact = $event.target.value">
        </div>
    </div>

  </div>

  <!-- bouton de modificaton, sur l'event click, on appel la fonction updateUser qui a comme argument, le userid -->
  <button type="button" name="button" class="btn btn-info" (click)=updateClient(client.id) onclick="modifier()">modifier</button>

</form>
