
<div class="project-details" *ngIf="project">

    <h4 class="mb-5">Profil de {{project.title}}</h4>

        <div class="row">

            <div class="col-xs-12 col-md-2">
                <strong>Name</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{project.name|uppercase}}
            </div>
            <div class="col-xs-12 col-md-2">
                <strong>Description</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{project.description}}
            </div>
            <div class="col-xs-12 col-md-2">
                <strong>status</strong>
            </div>
            <div class="col-xs-12 col-md-10">
                {{project.status}}
            </div>

        </div>
        
        <div class="mt-5">
            <a routerLink="/update/{{project._id}}" class="btn btn-primary">Modifier cet projet</a>
            <button type="button" name="button" class="btn btn-danger" (click)="deleteProject(project.id)">Supprimer cet projet</button>
        </div>

</div>
