
<!-- formulaire pour update -->
<form *ngIf="salarie">

  <div class="row">

    <div class="col">
        <div class="form-group">
            <label>Name</label>
            <!-- ici, pour récupérer la valeur du nom dans le formaulaire, on utiliser [value], pour récupérer la modification, on utilise (onchange) -->
            <input type="text" class="form-control" placeholder="Name" [value]="salarie.name" (change)="formUpdate.name = $event.target.value">
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="User name" [value]="salarie.username" (change)="formUpdate.username = $event.target.value">
        </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="rue" [value]="salarie.address.rue" (change)="formUpdate.address.rue = $event.target.value">
            <input type="text" class="form-control" placeholder="ville" [value]="salarie.address.ville" (change)="formUpdate.address.ville = $event.target.value">
            <input type="text" class="form-control" placeholder="code postal" [value]="salarie.address.codepostal" (change)="formUpdate.address.codepostal = $event.target.value">
        </div>
    </div>

    <div class="col">
            <div class="form-group">
                <label>Telephone</label>
                <input type="text" class="form-control" placeholder="Telephone" [value]="salarie.telephone" (change)="formUpdate.telephone = $event.target.value">
            </div>
        </div>
  </div>

  <!-- bouton de modificaton, sur l'event click, on appel la fonction updateUser qui a comme argument, le userid -->
  <button type="button" name="button" class="btn btn-info" (click)=updateSalarie(salarie.id) onclick="modifier()">modifier</button>

</form>
