<!-- formulaire de création d'un user -->
<form>
    <div class="row">

        <div class="col">
            <div class="form-group">
                <label>Nom</label>

                <!-- voir "value" et "(change)" -->
                <input type="text" class="form-control" placeholder="Nom" [value]="formCreate.name" (change)="formCreate.name = $event.target.value">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" [value]="formCreate.username" (change)="formCreate.username = $event.target.value">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Website</label>
                <input type="text" class="form-control" placeholder="Website" [value]="formCreate.website" (change)="formCreate.website = $event.target.value">
            </div>
        </div>
    </div>

    <!-- bouton d'ajout, utiliser la fonction (click) -->
    <button type="button" name="button" class="btn btn-info" (click)=createUser()>Ajouter</button>

</form>
